fastapi==0.136.1
uvicorn==0.46.0
telethon
SQLAlchemy
python-dotenv==1.2.1
qrcode==8.2
starlette==1.0.0
itsdangerous==2.2.0
h11==0.16.0
Pillow==11.3.0
aiofiles==25.1.0
python-multipart==0.0.27
cryptg
Jinja2
